.game-logo{
    width: 550px;
    height: auto;
    margin: 0 auto;
}
#Start{
    background-color: rgb(0, 27, 68);
    color: rgb(164, 25, 0);
    border-color: rgb(164, 25, 0);
    border-width: 5px;
    border-radius: 5px;
    height: 80px;
    width: 180px;
    font-size: 25px;
    font-weight: 780;
}
body{
    background-color: rgb(0, 27, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.one{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
#Start:hover{
    background-color: rgb(164, 25, 0);
    color: rgb(0, 27, 68);
    border-color: rgb(0, 27, 68);
    cursor: pointer;
}
.car_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 500px;
    background-color: rgb(47, 48, 68);
    border-radius: 20px;
}
.car{
    width: 700px;
    height: 500px;
    background-image: url("white-car-Photoroom.png");
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}.colors_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 100px;
    background-color: rgb(47, 48, 68);
    border-radius: 20px;
    margin-top: 20px;
}
#color_white{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    background-color: white;
}
#color_black{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#color_red{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
#color_blue{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#color_green{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
#color_yellow{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
#color_purple{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}
#start-2{
    background-color: rgb(47, 48, 68);
    color: rgb(178, 178, 178);
    border-color: rgb(0, 42, 138);
    border-width: 5px;
    border-radius: 5px;
    height: 80px;
    width: 180px;
    font-size: 25px;
    font-weight: 780;
    display: block;
}
.two{
    display: none;
}
#game-area{
    display: flex;
    width: 420px;
    height: 700px;
    background-color: rgb(47, 48, 68);
    border-radius: 20px;
    margin-top: 20px;
    position: relative;
}
.hr-1{
    width: 2px;
    height: 690px;
    background-color: rgb(255, 255, 255);
    margin-left: 130px;

}
.hr-2{
    width: 2px;
    height: 690px;
    background-color: rgb(255, 255, 255);
    margin-right: 130px;

}   
#main_car{
    width: 80px;
    height: 160px;
    background-image: url("main-car-Photoroom.png");
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 540px;
    left: 170px;
}
.three{
    display: none;
}
.obstacle{
    width: 100px;
    height: 100px;
    background-image: url("stoun-Photoroom.png");
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
}
h1{
    color: white;
}
p{
    color: white;
}
.p_yellow{
    color: black;
}
h2{
    color: white;
    margin-top: 20px;
}
.money{
    width: 50px;
    height: 50px;
    background-image: url("coin-Photoroom.png");
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}
.scoreboard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin: 0 auto;
}
.buttons{
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin: 0 auto;
}
#button_left{
    width: 80px;
    height: 80px;
    background-image: url("right-Photoroom.png");
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
#button_right{
    width: 80px;
    height: 80px;
    background-image: url("left-Photoroom.png");
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
@media(max-width: 500px){
    .car_container{
        width: 100%;
        height: auto;
    }
    .colors_container{
        width: 100%;
        height: auto;
    }
    #game-area{
        width: 100%;
        height: auto;
    }
    .buttons{
        width: 100%;
        height: auto;
        display: flex;
    }
}
